<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

<!--	 配置登录、登出 -->
	<security:http auto-config="true">
<!--		 配置登录页面 -->
		<security:form-login
			login-page="/login.jsp"
			login-processing-url="/security-login"
			username-parameter="username"
			password-parameter="userpwd"
			authentication-failure-url="/login.jsp"
			default-target-url=""
			always-use-default-target="true"/>
		
<!--		 配置登出 -->
		<security:logout
			logout-success-url="/login.jsp"
			logout-url="/security-logout"
			invalidate-session="true"/>	
	</security:http>
	
<!--	 配置 UserDetailsService 的 bean -->
	<bean id="userDetailsService"
		class="com.liveneo.plat.security.WspUserDetailsService">
		<property name="userService" ref="userService"></property>	
	</bean>
	
<!--	 把自定义的 UserDetailsService 配置到 SpringSecurity 中 -->
	<security:authentication-manager>
		<security:authentication-provider user-service-ref="userDetailsService">
			<security:password-encoder hash="md5">
				<security:salt-source user-property="username"/>
			</security:password-encoder>
		</security:authentication-provider>
	</security:authentication-manager>
	
<!--	 配置自定义的资源信息 -->
<!--	<bean id="securityMetadataSourceMapBuilder"-->
<!--		class="com.atguigu.ems.service.security.EMSSecurityMetadataSourceMapBuilder">-->
<!--		<property name="resourceService" ref="resourceService"></property>-->
<!--	</bean>-->
<!--	-->
<!--	<bean id="defaultFilterInvocationSecurityMetadataSource"-->
<!--		class="com.atguigu.ems.service.security.EMSDefaultFilterInvocationSecurityMetadataSource">-->
<!--		<property name="mapBuilder" ref="securityMetadataSourceMapBuilder"></property>-->
<!--	</bean>-->
<!--	-->
<!--	<bean-->
<!--		class="com.atguigu.ems.service.security.FilterSecurityInterceptorPostProcessor"></bean>-->
	
</beans>
